body{
    background-color: rgb(212, 205, 205);
    /* padding: 50px; */
}
/* .row{
    padding: 10px;
} */
p{
    font-size: 14px;
}
.box-1{
    background-color: #fff;
    padding: 40px 15px;
    margin: 20px 5px;
}
.fa{
    color: blue;
}
a{
    border-bottom: 1px solid black;
}
.text{
    margin: 10px 0;
}
.box{
    padding: 60px;
}